body {
  background-color: rgb(131, 172, 158) !important;
}

h1 {
  font-size: 85px !important;
  font-weight: bolder;
  color: rgb(24, 107, 107);
  font-family: "Gluten";
  text-align: center;
  margin-top: 55px !important;
}

ul {
  list-style: none;
  padding-left: 0 !important;
}

.navbar-toggler {
  background-color: white !important;
}

.img-initial {
  width: 400px;
  height: auto;
  display: flex;
  margin: 0 auto;
  border-radius: 15px;
  box-shadow: 5px 4px 3px grey;
}

.padelInformation {
  font-family: "Verdana";
}

.img-history {
  width: 250px;
  height: auto;
  border-radius: 15px;
  box-shadow: 5px 4px 3px grey;
}

.bestPlayers {
  text-align: center;
  margin-bottom: 15px;
}

.playerName {
  margin-bottom: 8px;
}

.playerImg {
  width: 75px;
  border-radius: 10px;
  box-shadow: 5px 4px 3px grey;
  margin-bottom: 15px;
}

.footerInfo {
  text-align: right;
  margin-top: 25px;
  margin-bottom: 15px;
  margin-right: 45px;
}

.email {
  margin-right: 10px;
  text-decoration: none;
  color: black;
}

.logo {
  box-shadow: 5px 4px 3px grey;
  height: 45px;
}

.wpt-logo {
  margin-right: 5px;
  box-shadow: 5px 4px 3px grey;
}

@media (max-width: 576px) {
  h1 {
    text-align: center;
  }

  p {
    padding: 5px;
  }

  .img-history {
    display: block;
    margin: 0 auto;
  }
}
